{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url=/module">
{% endif %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
               <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Login Page</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-md btn-primary" type="submit" value="login">Sign in</button>
    <a href="{% url 'password_reset' %}">Lost password?</a>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


